@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-light {
    --color-primary: #007ECC;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
    --transition-duration: 0.4s; 
    --color-shadow : rgba(0, 0, 0, 0.3);
    --quotes-background: #d5e7fc;
}
.theme-dark {
    --color-primary: #1f4375;
    --color-secondary: #2a2c2d;
    --color-accent: #12cdea;
    --font-color: #ffffff;
    --quotes-background: #9090903a;
    --color-shadow : rgba(225, 211, 211, 0.1);
    --transition-duration: 0.4s; ;
}

body{
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
    background: var(--color-secondary);
    transition: background var(--transition-duration); 

}


/* -------------Header start --------------- */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 10px 10px;
    margin: 0 30px;
}

header h1 span,
.about span{
    color: rgb(100, 165, 209);
}
header h1 {
    color: var(--font-color);
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    transition: color var(--transition-duration); 
}
a{
    text-decoration: none;
    color: var(--font-color);
}

/* ------Header end --------------- */


.container {
    display: flex;
    position: relative;
    width: 70%;
    height: 100%;
    margin: 10px auto;
    background: var(--color-secondary);
    flex-direction: column;
    /* border: 1px solid var(--color-primary); */
    transition: background var(--transition-duration); 
}
.container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    transition: background, color var(--transition-duration);
}
 

/* ----------------Swtich theme start---------------- */
.theme-wrapper{
    position: absolute;
    right: 0;
    margin-right: 20px;

}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}
  
input:checked + .slider {
    background-color: #2196f3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/* ----------------Swtich theme Endt----------------*/



/* ----------About start-------------*/
h1,
p{
    color: var(--font-color);
    transition: color var(--transition-duration); 
}

.about{
    margin: 30px auto;
    font-size: 18px;
    padding: 0 20px;
    text-align: center;
    width: 70%;
    align-items: center;
}
/* -----------------About end----------- */

/* Catergories radio button */
.categories {
    color: var(--font-color);
    transition: color, background var(--transition-duration); 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories p{
    margin-top: 10px;
    font-size: 17px;
}
:root {
    --accent: #007ECC;
    --accent-2: #EC2F4B;
    --text: var(--font-color);
    --text-hover: var(--accent);
    --text-active: #FFFFFF;
    --border-width: 0.125em;
}
.hidden-toggles {
	position: relative;
	border-radius: 999em;
	overflow: hidden;
    margin-top:16px;
	height: 2.75em;
	width: 20em;
	display: flex;
	flex-direction: row-reverse;
	> * {
		flex: 0 0 33.33%;
	}

	&:after {
		content: "";

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		border: var(--border-width) solid var(--accent);
		border-radius: 999em;
		pointer-events: none;
	}
}

.hidden-toggles__input {
	display: none;

	&:checked + .hidden-toggles__label {
		background-color: var(--accent);
		color: var(--text-active);

		&:before {
			opacity: 1;
		}
		
		&:last-of-type {
			background: linear-gradient(90deg, var(--accent) 0%, var(--accent-2) 100%);
		}
	}
	
	&:nth-of-type(1) + label { order: 4 }
	&:nth-of-type(2) + label { order: 3 }
	&:nth-of-type(3) + label { order: 2 }
	&:nth-of-type(4) + label { order: 1 }
	
	&:nth-of-type(1):checked,
	&:nth-of-type(2):checked {
		~ label:last-of-type {
			margin-right: -33.33%;
		}
	}
}

.hidden-toggles__label {
	display: flex;
	align-items: center;
	justify-content: space-around;

	position: relative;
	cursor: pointer;
	transition: all 0.2s ease-out;
  color: var(--text);

	&:hover {
		color: var(--text-hover);
	}

	&:nth-of-type(2) {
		border-left: var(--border-width) solid var(--accent);
		border-right: var(--border-width) solid var(--accent);
	}
	
	&:last-of-type {
		border-left: var(--border-width) solid var(--accent);
	}
}
